$badges-width: 62px;
$badges-height: 62px;

%badge {
  background-image: url('../../modules/playerstatscard/assets/badges_sprite.png');
  background-size: 1200%;
  width: $badges-width;
  height: $badges-height;
}

// Arsenal
.badge-1 {
  @extend %badge;
  background-position-x: -($badges-width * 1);
  background-position-y: -($badges-height * 1);
}

// Manchester City
.badge-11 {
  @extend %badge;
  background-position-x: -($badges-width * 8) + 1;
  background-position-y: -($badges-height * 7) + 1;
}

// Manchester United
.badge-12 {
  @extend %badge;
  background-position-x: -($badges-width * 6) + 1;
  background-position-y: -($badges-height * 8) + 1;
}

// Tottenam Hotspur
.badge-21 {
  @extend %badge;
  background-position-x: -($badges-width * 5) + 2;
  background-position-y: -($badges-height * 10) + 1;
}

// Leicester City
.badge-26 {
  @extend %badge;
  background-position-x: 0;
  background-position-y: 0;
}